{{if .RequireHighlightJS}}
  <script src="https://unpkg.com/mermaid@8.4.5/dist/mermaid.min.js"></script>
  <!-- or wherever you have placed it -->
  <script>mermaid.init(".language-mermaid")</script>
{{end}}
